<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gianlu.commonutils">

    <!-- Google In-apk Billing -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application>

        <!-- Logs activity -->
        <activity android:name=".LogsActivity" />

        <!-- Uncaught exception activity -->
        <activity
            android:name=".Analytics.UncaughtExceptionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:theme="@style/FullscreenTheme" />

        <!-- Offline activity -->
        <activity android:name=".OfflineActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="063c6b8c6ed0069bf5c2bc131f8a25a797014d2e" />
    </application>
</manifest>