<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Google In-apk Billing -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <!-- Uncaught exception activity -->
        <activity
            android:name=".analytics.UncaughtExceptionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:theme="@style/FullscreenTheme" />

        <!-- Offline activity -->
        <activity
            android:name=".ui.OfflineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:theme="@style/FullscreenTheme"  />
    </application>
</manifest>
